<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>A Mario....</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>  

    <main>
      <div id="playfield" class="game-area">     
        <img id="map" class="map-layer" src="https://cdn.glitch.com/92064d7f-02e4-40c8-b920-aca0beefd736%2F6875.png?v=1585925318194" />  
      </div>
    </main>  
    
    <script src="/script.js"></script>
    <script>
      let game;
      let heldDown = {};
      async function start() {
        game = await train.startGame();
      }
      start();
    </script>
    
  </body>
</html>
