<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>A Mario....</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon" />
    
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>  
    <script>
      let game;
      let heldDown = {};
      async function start() {
        game = await train.startGame();
      }
      start();
    </script>

    <main>
      <div id="playfield" class="game-area">      
        <div class="map-layer">
        
        </div>      
      </div>
    </main>
    
    <script>
      window.addEventListener("keydown", function(keyInfo) { 
        heldDown[event.keyCode] = true; 
      }, false);
      
      window.addEventListener("keyup",  function(keyInfo) { 
        delete heldDown[event.keyCode]; 
      }, false);
    </script>
  

  </body>
</html>
