html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

.game-area {
  top: 0;  
  position: relative;
 
  perspective: 50px;
  
  width: 640px;
  height: 480px;
  overflow: hidden;
}

#background {
  background: url('https://cdn.glitch.com/92064d7f-02e4-40c8-b920-aca0beefd736%2Fhills.png?v=1585998163246');
  width: 640px;
  height: 200px;
  background-size: cover;
}

.map-layer {   
  top: -305px;
  left: -200px; 
  
  
  width: 1024px;
  height: 1024px;
  position: absolute;  
  transform-style: preserve-3d;
}