html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

.game-area {
  top: 0;  
  position: relative;
  background-color: #A0B5FF;
 
  perspective: 50px;
  
  width: 640px;
  height: 480px;
  overflow: hidden;
}

.map-layer {   
  top: -305px;
  left: -200px; 
  
  
  width: 1024px;
  height: 1024px;
  position: absolute;  
  transform-style: preserve-3d;
}