html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

.game-area {
  top: 0;  
  background-color: #589816;
  position: relative;
 
  perspective: 45px;
  
  width: 640px;
  height: 480px;
  overflow: hidden;
}

#background {
  margin-top: 120px;
  background: url('https://cdn.glitch.com/92064d7f-02e4-40c8-b920-aca0beefd736%2Fhills.png?v=1585998163246');
  width: 640px;
  height: 80px;
  background-size: cover;
}

.map-layer {
  z-index: 50;
  
  top: -305px;
  left: -200px;   
  
  width: 1024px;
  height: 1024px;
  position: absolute;  
  transform-style: preserve-3d;
}

.lower-screen {
  position: absolute;
  top: 290px;
  z-index: 100;
  
  height: 200px;
  width: 640px;;
  background-color: black;
}